{
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"comma-dangle": ["error", "never"],
		"no-cond-assign": ["error", "always"],
		"no-debugger": "error",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-empty-character-class": "error",
		"no-empty": "error",
		"no-ex-assign": "error",
		"no-extra-boolean-cast": "error",
		"no-extra-parens": ["error", "all"],
		"no-extra-semi": "error",
		"no-func-assign": "error",
		"no-inner-declarations": "error",
		"no-invalid-regexp": "error",
		"no-irregular-whitespace": "error",
		"no-negated-in-lhs": "error",
		"no-obj-calls": "error",
		"no-regex-spaces": "error",
		"no-sparse-arrays": "error",
		"no-unexpected-multiline": "error",
		"no-unreachable": "error",
		"use-isnan": "error",
		"valid-typeof": "error",
		"eqeqeq": "error",
		"curly": "error",
		"complexity": ["error", 100],
		"dot-location": ["error", "property"],
		"dot-notation": "error",
		"guard-for-in": "error",
		"no-caller": "error",
		"no-case-declarations": "error",
		"no-else-return": "error",
		"no-labels": "error",
		"no-empty-pattern": "error",
		"no-eq-null": "error",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-fallthrough": "error",
		"no-floating-decimal": "error",
		"no-implicit-coercion": "error",
		"no-implied-eval": "error",
		"no-invalid-this": "error",
		"no-iterator": "error",
		"no-lone-blocks": "error",
		"no-loop-func": "error",
		"no-multi-spaces": ["error", {
			"exceptions": {
				"VariableDeclarator": true,
				"Property": true
			}
		}],
		"no-native-reassign": "error",
		"no-new-wrappers": "error",
		"no-new": "error",
		"no-proto": "error",
		"no-redeclare": "error",
		"no-return-assign": "error",
		"no-self-compare": "error",
		"no-throw-literal": "error",
		"no-unused-expressions": "error",
		"no-useless-call": "error",
		"no-useless-concat": "error",
		"no-void": "error",
		"no-with": "error",
		"radix": "error",
		"wrap-iife": ["error", "inside"],
		"yoda": "error",
		"strict": ["error", "global"],
		"no-shadow-restricted-names": "error",
		"no-undef-init": "error",
		"no-undef": "error",
		"no-unused-vars": "error",
		"callback-return": "error",
		"handle-callback-err": "error",
		"no-process-exit": "error",
		"no-path-concat": "error",
		"no-sync": "error",
		"array-bracket-spacing": ["error", "never"],
		"block-spacing": ["error", "always"],
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"camelcase": "error",
		"comma-spacing": ["error", {
			"before": false,
			"after": true
		}],
		"comma-style": ["error", "last"],
		"computed-property-spacing": ["error", "never"],
		"consistent-this": ["error", "self"],
		"func-names": "error",
		"id-length": ["error", {
			"min": 1,
			"max": 60
		}],
		"indent": "error",
		"key-spacing": ["error", {
			"beforeColon": false,
			"afterColon": true
		}],
		"linebreak-style": ["error", "unix"],
		"max-depth": ["error", 6],
		"max-len": ["error", 120],
		"max-nested-callbacks": ["error", 3],
		"max-params": ["error", 5],
		"max-statements": ["error", 200],
		"new-cap": "error",
		"no-lonely-if": "error",
		"no-mixed-spaces-and-tabs": "error",
		"no-negated-condition": "error",
		"no-nested-ternary": "error",
		"no-spaced-func": "error",
		"no-trailing-spaces": "error",
		"no-underscore-dangle": "error",
		"no-unneeded-ternary": "error",
		"object-curly-spacing": ["error", "never"],
		"operator-assignment": ["error", "always"],
		"operator-linebreak": ["error", "after"],
		"quote-props": ["error", "as-needed"],
		"quotes": ["error", "double"],
		"semi-spacing": "error",
		"semi": ["error", "always"],
		"keyword-spacing": ["error", {
			"before": true,
			"after": true
		}],
		"space-before-blocks": ["error", "always"],
		"space-in-parens": ["error", "never"],
		"space-infix-ops": "error",
		"space-unary-ops": "error",
		"arrow-body-style": ["error", "as-needed"],
		"arrow-parens": ["error", "as-needed"],
		"arrow-spacing": "error",
		"constructor-super": "error",
		"generator-star-spacing": "error",
		"no-confusing-arrow": "error",
		"no-constant-condition": "error",
		"no-class-assign": "error",
		"no-const-assign": "error",
		"no-dupe-class-members": "error",
		"no-this-before-super": "error",
		"no-var": "error",
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"prefer-spread": "error",
		"prefer-template": "error",
		"require-yield": "error"
	}
}
